
body{
    margin: 0px;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: rgb(237, 142, 17);
    font-size: 10em;
    border: 2px solid;
    text-align: center;
    /* animation-name: slideLeft; */
    /* animation-name: slideRight; */
    /* animation-name: slideUp; */
    /* animation-name: slideDown; */
    /* animation-name: rotateX; */
    /* animation-name: rotateY; */
    animation-name: rotateZ;
    animation-duration: 2s;
}

@keyframes slideLeft{
    from{transform: translateX(200px);}
}
@keyframes slideRight{
    to{transform: translateX(200px);}
}

@keyframes slideUp{
    from{transform: translateY(400px);}
}
@keyframes slideDown{
    to{transform: translateY(400px);}
}

@keyframes rotateX{
    100%{transform: rotateX(360deg);}
}
@keyframes rotateY{
    100%{transform: rotateX(360deg);}
}
@keyframes rotateZ{
    50%{transform: rotateZ(360deg);}
}