body{
    background-color: black;
}

h3{
    color: white;
    text-align: center;
}

/* #p1{
    color:yellowgreen
}

#p2{
    color: red
}

#p3{
    color: green
}

#p4{
    color: blue
} */


.odd{
    color: orangered;
   
}

.even{
    color: darkmagenta;
}