/* body{
    background-color: black;
}

h3{
    color: white;
    text-align: center;
} */

/* #p1{
    color:yellowgreen
}

#p2{
    color: red
}

#p3{
    color: green
}

#p4{
    color: blue
} */


/* .odd{
    color: orangered;
   
}

.even{
    color: darkmagenta;
} */





h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: "Lucida console";
    font-size: 16px;
    /* font-size: 1.5em;                1 em = 100% */
    font-weight: bold;
}